html{
    min-height: 100vh ;
    width: 100vw;
}
ul{
    transition:all 1s;
}

.dropdowns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 250px;
    margin-top: 5vh;
    transition:all 1s;
  }
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 38vw;
    max-width: 620px; ;
    min-width: 300px;
    transition:all 1s;
  }
  .dropdown-header {
    background: red;
    color: white;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 11;
    transition:all 1s;
    
  }
  .dropdown-header img {
      cursor: pointer;
      transition:  1s ease-in-out;
      transform: rotate(180deg);
    }
  
  .dropdown-content {
    width: -webkit-fill-available;
    position: relative;
    top: -5px;
    z-index: -1;
    background: gray;
    border-radius: 0px 0px 10px 10px;
    transition: 1s linear;
    height: fit-content ;
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
    overflow: hidden;
     line-height: 142.6%;
     transition:all 1s;
  }
  .collapse {
  
    padding: 0 5px ;
    transition: all 1s ;
    animation: slidein 1s linear forwards;

  }
 
  .dropdown-content-list ,.dropdown-content-paragraph{
  height:fit-content;
  overflow: scroll;
  z-index: 10;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition:all 1s;
  
  }.dropdown-content-list::-webkit-scrollbar , .dropdown-content-paragraph::-webkit-scrollbar {
      display: none;
    }

    @keyframes slidein {
 
        to {
          height: 0px ;
        }
      }